#uzbl_link_hints > span {
    z-index:            1000   !important;

    background-color:   #333           !important;
    margin:             0              !important;
    padding:            3px            !important;

    color:              #ccc   !important;
    font-size:          9px    !important;
    line-height:        9px    !important;
    font-weight:        bold   !important;
    font-variant:       normal !important;
    text-decoration:    none   !important;

    -webkit-transform:  translate(-5px,-5px);
    opacity:            0.8;
    -webkit-border-radius: 6px !important;
  /* Play around with this, pretty fun things to do :) */
  /* -webkit-transform: scale(1) rotate(0deg) translate(-6px,-5px) !important; */
}

/* we can have different colours for different types of hints! */
#uzbl_link_hints.new-window > span {
    background-color: #ffff00 !important;
    color:            black   !important;
}

.uzbl_highlight {
    background-color: yellow !important;
}
 
.uzbl_h_first {
    background-color: lightgreen !important;
}
 
.uzbl_follow {
    border-style: dotted;
    border-width: thin;
}
 
#uzbl_hint > div {
	display:                        inline;
	border:                         2px solid #4a6600;
	background-color:               #b9ff00 !important;
	color:                          black;
	font-size:                      9px;
	font-weight:                    bold;
	line-height:                    9px;
	margin:                         0px;
	padding:                        0px;
	position:                       absolute;
	z-index:                        1000;
	-webkit-border-radius:          6px;
	text-decoration:                none;
	-wekit-transform:               scale(1) rotate(0deg) translate(-6px,-5px);
}
* {
	background-color: #3f3f3f !important;
	background-image: none !important;
	color: #dcdccc !important;
	border-color: #1E2320 !important;
	}
a:link, a:active, a:visited {
    color: #efdcbc !important;}

a:hover {
    color: lightgrey !important;}

}/*

Zenburn style from voldmar.ru (c) Vladimir Epifanov <voldmar@voldmar.ru>
based on dark.css by Ivan Sagalaev

*/

pre code {
  display: block; padding: 0.5em;
  background: #3F3F3F;
  color: #DCDCDC;
}

pre .keyword,
pre .tag,
pre .django .tag,
pre .django .keyword,
pre .css .class,
pre .css .id,
pre .lisp .title {
  color: #E3CEAB;
}

pre .django .template_tag,
pre .django .variable,
pre .django .filter .argument {
  color: #DCDCDC;
}

pre .number,
pre .date {
  color: #8CD0D3;
}

pre .dos .envvar,
pre .dos .stream,
pre .variable,
pre .apache .sqbracket {
  color: #EFDCBC;
}

pre .dos .flow,
pre .diff .change,
pre .python .exception,
pre .python .built_in,
pre .literal,
pre .tex .special {
  color: #EFEFAF;
}

pre .diff .chunk,
pre .ruby .subst {
  color: #8F8F8F;
}

pre .dos .keyword,
pre .python .decorator,
pre .class .title,
pre .function .title,
pre .ini .title,
pre .diff .header,
pre .ruby .class .parent,
pre .apache .tag,
pre .nginx .built_in,
pre .tex .command {
    color: #efef8f;
}

pre .dos .winutils,
pre .ruby .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .ruby .string,
pre .ruby .instancevar {
  color: #DCA3A3;
}

pre .diff .deletion,
pre .string,
pre .tag .value,
pre .preprocessor,
pre .built_in,
pre .sql .aggregate,
pre .javadoc,
pre .smalltalk .class,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .css .rules .value,
pre .attr_selector,
pre .pseudo,
pre .apache .cbracket,
pre .tex .formula {
  color: #CC9393;
}

pre .shebang,
pre .diff .addition,
pre .comment,
pre .java .annotation,
pre .template_comment,
pre .pi,
pre .doctype {
  color: #7F9F7F;
}

pre .html .css,
pre .html .javascript,
pre .tex .formula {
  opacity: 0.5;
}

/*

Zenburn style from voldmar.ru (c) Vladimir Epifanov <voldmar@voldmar.ru>
based on dark.css by Ivan Sagalaev

*/

pre code[class]:after {
  content: 'highlight: ' attr(class);
  display: block; text-align: right;
  font-size: smaller;
  color: #CCC; background: white;
  border-top: solid 1px black;
  padding-top: 0.5em;
}

pre code {
  display: block;
  background: #3F3F3F;
  color: #DCDCDC;
}

.keyword,
.tag,
.django .tag,
.django .keyword,
.css .class,
.css .id,
.lisp .title {
  color: #E3CEAB;
}

.django .template_tag,
.django .variable,
.django .filter .argument {
  color: #DCDCDC;
}

.number {
  color: #8CD0D3;
}

.dos .envvar,
.dos .stream,
.variable {
  color: #EFDCBC;
}

.dos .flow,
.diff .change,
.python .exception,
.python .built_in,
.literal {
  color: #EFEFAF;
}

.diff .chunk,
.ruby .subst {
  color: #8F8F8F;
}

.dos .keyword,
.python .decorator,
.class .title, 
.function .title,
.ini .title,
.diff .header,
.ruby .class .parent {
    color: #efef8f;
}

.dos .winutils,
.ruby .symbol,
.ruby .string,
.ruby .instancevar {
  color: #DCA3A3;
}

.diff .deletion,
.string,
.tag .attribute .value,
.preprocessor,
.built_in,
.sql .aggregate,
.javadoc,
.smalltalk .class,
.smalltalk .localvars,
.smalltalk .array,
.css .rules .value,
.css .attr_selector {
  color: #CC9393;
}

.shebang,
.diff .addition,
.comment,
.java .annotation,
.template_comment,
.pi,
.doctype {
  color: #7F9F7F;
}

.html .css,
.html .javascript {
  opacity: 0.5;
}

