*~
*\#
*.out
*.o
*.c
*.d
.Xauthority
.adobe
.bash_history
.cabal
.cache
.cvspass
.cvsps
.dbus
.dmenu_cache
.esd_auth
.fontconfig
.gem
.gentoo
.ghc
.gimp-2.6
.gstreamer-0.10
.gtk-bookmarks
.ipblockUI
.lesshst
.links
.local
.macromedia
.mozilla
.mplayer
.nvidia-settings-rc
.pki
.projectM
.pulse
.pulse-cookie
.recently-used.xbel
.rvm
.serverauth.*
.ssh
.subversion
.thumbnails
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xscreensaver
backups
books
downloads
music
pics
repos
snapshots
video

#???
.bash_logout
.bash_profile
.bashrc
.gtkrc-2.0
.irssi
.toprc
.bash_completion.d
.config
.gconf
.gconfd
