*~
*\#
.Xauthority
.adobe
.bash_history
.cabal
.cache
.dbus
.dmenu_cache
.esd_auth
.gem
.ghc
.gstreamer-0.10
.ipblockUI
.lesshst
.macromedia
.mozilla
.mplayer
.nvidia-settings-rc
.pki
.pulse
.recently-used.xbel
.rvm
.serverauth.*
.subversion
downloads
music
repos
snapshots
video

#???
.bash_completion.d
