*~
*\#
*.out
*.o
*.elc
*.c
*.d
*.orig
.Rhistory
.Xauthority
.adobe
.bash_history
.cabal
.cache
.cpan
.cvspass
.cvsps
.dbshell
.dbus
.dillo
.dmenu_cache
.dropbox-dist
.dropbox
.esd_auth
.fontconfig
.gem
.gentoo
.ghc
.gimp-2.6
.gnome2
.gstreamer-0.10
.gtk-bookmarks
.ipblockUI
.java
.lesshst
.links
.local
.macromedia
.mozilla
.mplayer
.ncftp
.nvidia-settings-rc
.pki
.projectM
.pulse
.pulse-cookie
.purple
.quake2
.recently-used.xbel
.rvm
.screenrc
.serverauth.*
.slocdata
.ssh
.subversion
.thumbnails
.tmux.conf
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xscreensaver
Documents
Downloads
Dropbox
backups
books
dissertation
downloads
music
pics
repos
snapshots
sw
video

#???
.bash_logout
.bash_profile
.bashrc
.gtkrc-2.0
.irssi
.toprc
.bash_completion.d
.config
.gconf
.gconfd
